{% extends "base.html" %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>You're already logged in!</h1>
    {% else %}
    <h2>Log in to Gamestore</h2>
    {% if form.errors %}
        <p style="color: red">Username and password didn't match.</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        {% for field in form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}<br>
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
                {% if field.help_text %}
                    <p><small style="color: grey">{{ field.help_text }}</small></p>
                {% endif %}
            </p>
      {% endfor %}
      <button type="submit">Log in</button><br>
      <a href="{% url 'register' %}">If you don't have an account register here.</a>
    </form>
    <b>Or login using your social media accounts<b><br>
    <a href="{% url 'social:begin' 'twitter' %}">Login via Twitter</a><br>
    <a href="{% url 'social:begin' 'google-oauth2' %}">Login via Google</a><br>

    {% endif %}
{% endblock %}
