{% extends "base.html" %}
{% block title %}
    <title>{{game.name}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/gamepage.css' %}">
    <meta name=”twitter:card” content={{game.description}} />
    <meta name=”twitter:site” content={{request.build_absolute_uri}}/>
    <meta name=”twitter:title” content={{game.name}} />
    <meta name=”twitter:description” content={{game.description}} />
    <meta name=”twitter:image” content={{game.image_url}} />
{% endblock %}

{% block content %}
    <h1 class="gameName">{{game.name}}</h1>
    <div class="gamepageArena">
        <div class="iframeAndScore">
            <iframe id="game_iframe"
                name="iframe"
                width="500"
                height="300"
                src="{{game.game_url}}"
                sandbox="allow-scripts allow-modals"
            ></iframe>
            {% if highscores %}
                <h2 class="scoreTitle">Highscores:</h2>
                <ol class="game_highscore">
                    {% for score in highscores %}
                        <li>{{score.0}}: {{score.1}}</li>
                    {% endfor %}
                </ol>
            {% endif %}
        </div>
    </div>
    {% if game.description %}
        <div class="game_description">
            <h2 class="descriptionTitle">Description:</h2>
            <div class="desc">
                <p>{{game.description}}</p>
            </div>
        </div>
    {% endif %}
    {% csrf_token %}
    <script>
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        var childWindow = document.getElementById("game_iframe").contentWindow;
        window.addEventListener("message", (e) => {
            if (e.source === childWindow) {
                switch(e.data.messageType) {
                    case "SETTING":
                        document.getElementById("game_iframe").width = e.data.options.width;
                        document.getElementById("game_iframe").height = e.data.options.height;
                        break;
                    case "LOAD_REQUEST":
                        $.ajaxSetup({
                            beforeSend: function(xhr, settings) {
                                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                }
                            }
                        });
                        $.ajax({
                            "type": "POST",
                            "dataType": "json",
                            "url": "./loadgamedata/",
                            success: function(data) {
                                var gameState = JSON.parse(data.gameState);
                                if (gameState === null) {
                                    var message =  {
                                        messageType: "ERROR",
                                        info: "Gamestate could not be loaded"
                                    };
                                } else {
                                    var message = {
                                        messageType: "LOAD",
                                        gameState: gameState
                                    };
                                }
                                document.getElementById("game_iframe").contentWindow.postMessage(message, '*');
                            },
                        });
                        break;
                    default:
                        var postdata = {
                            data: JSON.stringify(e.data),
                            dataType: 'text',
                            contentType: 'application/json; charset=utf-8',
                            csrfmiddlewaretoken: csrftoken,
                        };
                        $.post("", postdata);
                }
            }
        });
    </script>
    <!-- Twitter Button -->
    <a class="twitter-share-button"
      href="https://twitter.com/share"
      data-size="large"
      data-text="Check out this cool game {{game.name}}"
      data-url={{request.build_absolute_uri}}
      data-hashtags="ASDGameStore"
      data-related="twitterapi,twitter">
    Tweet
    </a>
    <script async src="https://platform.twitter.com/widgets.js"></script>



{% endblock %}
