{% extends "base.html" %}

{% block title %}
    <title>{{game.name}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/gamepage.css' %}">
{% endblock %}

{% block content %}
    <h1>{{game.name}}</h1>
    <iframe id="game_iframe"
        width="500"
        height="300"
        src="{{game.game_url}}"
        sandbox="allow-scripts"
        <p>Your browser does not support iframes.</p>
    </iframe> <!-- TODO: oikeudet -->
    {% csrf_token %}
    <script type="text/javascript">
        var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
        var eventer = window[eventMethod];
        var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        eventer(messageEvent,function(e) {
            console.log(e.data);
            switch(e.data.messageType) {
                case "SETTING":
                    var settingWidth = e.data.options.width;
                    var settingHeight = e.data.options.height;
                    console.log(settingWidth, settingHeight);
                    document.getElementById("game_iframe").width = settingWidth;
                    document.getElementById("game_iframe").height = settingHeight;
                    break;
                case "LOAD_REQUEST":
                    $.ajax({
                        method: "POST",
                        url: "./loadgamedata/",
                        csrfmiddlewaretoken: csrftoken,
                        success: function(data) {
                            var gameState = JSON.parse(data.gameState);
                            if (gameState === "ERROR") {
                                var message =  {
                                    messageType: "ERROR",
                                    info: "Gamestate could not be loaded"
                                };
                            } else {
                                var message  = {
                                    messageType: "LOAD",
                                    gameState: gameState,//JSON.parse('{{savedGame | escapejs}}'),
                                };
                            }
                            document.getElementById("game_iframe").contentWindow.postMessage(message, '*');
                        },
                    });
                    break;
                default:
                    var postdata = {
                        data: JSON.stringify(e.data),
                        dataType: 'text',
                        contentType: 'application/json; charset=utf-8',
                        csrfmiddlewaretoken: csrftoken,
                    }
                    $.post("", postdata);
            }
        },false);
    </script>
{% endblock %}
