{% extends "base.html" %}

{% block title %}
    <title>{{game.name}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/gamepage.css' %}">
{% endblock %}

{% block content %}
    <h1>{{game.name}}</h1>
    <iframe id="game_iframe"
        width="500"
        height="300"
        src="{{game.game_url}}"
        sandbox="allow-scripts"
        <p>Your browser does not support iframes.</p>
    </iframe> <!-- TODO: oikeudet -->
    {% csrf_token %}
    <script type="text/javascript">
        var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
        var eventer = window[eventMethod];
        var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";
        eventer(messageEvent,function(e) {
            console.log(e.data);
            switch(e.data.messageType) {
                case "SETTING":
                    var settingWidth = e.data.options.width;
                    var settingHeight = e.data.options.height;
                    console.log(settingWidth, settingHeight);
                    document.getElementById("game_iframe").width = settingWidth;
                    document.getElementById("game_iframe").height = settingHeight;
                case "LOAD_REQUEST":
                    var message  = {
                        messageType: "LOAD",
                        gameState: JSON.parse('{{savedGame | escapejs}}'),
                    };
                    console.log(message);
                    document.getElementById("game_iframe").contentWindow.postMessage(message, '*');
                default:
                    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
                    var postdata = {
                        data: JSON.stringify(e.data),
                        dataType: 'text',
                        contentType: 'application/json; charset=utf-8',
                        csrfmiddlewaretoken: csrftoken,
                    }
                    $.post("", postdata);
            }
        },false);
    </script>
{% endblock %}
