{% extends "base.html" %}

{% block title %}
    <title>List of games</title>
    {% load static %}
{% endblock %}

{% block content %}
    {% if gameQSet %}
    <SquareGrid class="arena">
        {% for game in gameQSet %}
            <div class="box">
                <a class="game_link" href="{% url 'gamepage' gameid=game.id %}" style="text-decoration:none; color:black;">
                    {% if not game.image_url %}
                        <img src="http://www.publicdomainpictures.net/pictures/40000/velka/question-mark.jpg" alt="game's image" width="90%", height="90%">
                    {% else %}
                        <img src="{{ game.image_url }}" alt="game's image" width="90%", height="90%">
                    {% endif %}
                    <h2 class="game_info">
                        {{ game.name }}
                    </h2>
                </a>
                <div class="ownedStatus">
                    {% if game.developer == request.user.profile or request.user.profile in game.owners.all %}
                        <h5 style="color:black;">Owned</h5>
                    {% else %}
                        <h5 style="color:black;">{{game.price}} €</h5>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </SquareGrid>
    {% else %}
        <p>There are no games in the library.</p>
    {% endif %}

    {% if gameQSet.has_other_pages %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if gameQSet.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ gameQSet.previous_page_number }}">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">Previous</a>
                    </li>
                {% endif %}
                {% for i in gameQSet.paginator.page_range %}
                    {% if gameQSet.number == i %}
                        <li class="page-item disabled">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if gameQSet.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ gameQSet.next_page_number }}">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

{% endblock %}
