{% extends "base.html" %}
{% block title %}
    <title>List of games</title>
{% endblock %}
{% block content %}
<h1>Game shop asd</h1>

    <p>Welcome to <em>asd</em>, a very basic game site.</p>

    <h2>Game list</h2>
    {% load static %}
    {% if game_list %}
    <ul>
        {% for game in game_list %}
        <li>
            <a href="{% url 'gamepage' gameid=game.id %}">
                {% if not game.image_url %}
                    <img src="http://www.publicdomainpictures.net/pictures/40000/velka/question-mark.jpg" alt="game's image" width="10%", height="10%">
                {% else %}
                    <img src="{{ game.image_url }}" alt="game's image" width="10%", height="10%">
                {% endif %}
                {{ game.name }}
            </a>
            {% if game.developer == request.user.profile or request.user.profile in game.owners.all %}
                Owned
            {% else %}
                {{game.price}} €
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>There are no games in the library.</p>
    {% endif %}
    {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}
